#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_AUTO_UPDATE_AUTOMAKE:=1.9

binary-post-install/asn1c::
	mv -f $(CURDIR)/debian/asn1c/usr/bin/*.pl \
	    $(CURDIR)/debian/asn1c/usr/share/doc/asn1c/examples/
	rm -f $(CURDIR)/debian/asn1c/usr/share/doc/asn1c/COPYING

